.gallery-header {
  background-color: var(--whiteContrast);

  padding: 90px 20px 40px;
  text-align: center;
}

.gallery-header .h2-style {
  font-size: 2.2em;
}


/* Blog Section */
.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 2em 3em;
  overflow: visible;
}

.gallery-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3em;
}

/* Reverse the row layout */
.gallery-row.reverse {
  direction: rtl;
}

.gallery-row.reverse .gallery-info {
  direction: ltr;
  /* Fix inner text direction */
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 1em;
}

.gallery-image-wrapper {
  width: 250px;
  height: 250px;
  border: 4px solid #eeeeee;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.gallery-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
  transform-origin: center center;
}

.gallery-image-wrapper:hover img {
  transform: scale(1.05);
  /* Slight zoom-in */
}


.gallery-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
  max-width: 500px;
  margin: auto;
}

.gallery-info h2 {
  font-size: 2.2rem;
  font-style: italic;
  color: var(--primery);
}

.gallery-info p {
  font-size: 1rem;
  font-family: 'noto-sans';
  color: var(--secondaryAccent);
}

.gallery-info img {
  width: 30px;
  height: auto;
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--headerBackground);
  display: block;
}